.wrapper {
  .tablecell {
    // border: 1px solid red;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    // padding: 20px 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #545f7d;
  }

  
  .tablerow {
    &:hover {
      cursor: pointer;
      background-color: rgba(33, 63, 125, 0.1);
    }
  }
  .link {
    text-decoration: none;
    color: #545f7d;

    &:hover {
      color: rgba(33, 63, 125, 0.5);
    }
  }
  .pagination {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #545f7d;
    p {
      display: flex;
      // width: 500px;
      span {
        display: flex;
        align-items: center;
        gap: 2px;
        // border: 1px solid red;
        padding: 0 3px;
        &:hover {
          background-color: rgba(84, 95, 125, 0.2);
          cursor: pointer;
        }
      }
    }
    @media (max-width: 474px) {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }
    .page {
      color: red;
      // color: #545f7d;
    }
  }
}
