.wrapper {
  display: flex;
  align-items: center;
  color: #213f7d;
  cursor: pointer;
//   border: 1px solid rgb(29, 182, 62);
  gap: 0.73vw;
  @media(max-width:900px){
        // justify-content: space-between;
        width: fit-content;
     }
  span {
    // border: 1px solid red;
    height: 25px;
  }
  span:nth-child(2) {
    // border: 1px solid red;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    height: 19px;
    color: #213f7d;
     @media(max-width:900px){
        display: none;
        width: 0;
     }
  }
}
