.wrapper {
  border: 2px solid blue;
  width: 600px;
  margin-right: 69px;
  .logo {
    display: flex;
    align-items: center;
    gap: 10.58px;
    margin: 107.6px 0 139px 97px;
    border: 1px solid red;
    width: fit-content;

    img {
      width: 24.75px;
      height: 25px;
      border: 1px solid red;
    }
    h1 {
      color: #213f7d;
      font-size: 38px;
      line-height: 16px;
      font-weight: 600;
      font-family: "Inter", sans-serif;
    }
  }

  .img {
    border: 2px solid black;
    width: 600px;
    height: 337.57px;
    margin-left: 67px;
    // margin-right: 287px;
  }
}
