.container {
    display: flex;
   
  .wrapper {
    border: 1px solid red;
     position: relative;
    // z-index: 1;
    //   color: black;
    height: 1695px;
    //   width: 20.7vw;
    width: 283px;
    // width: 300px;
    transition: 1s;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    padding: 39px 0 14px 0vw;
    //   margin-right: 10px;
    //   padding: 39px 0 14px 2.48vw;
    @media (max-width: 900px) {
      // justify-content: space-between;
      // display: none;
      position: relative;
      left: -300px;
    }
    .customer {
      margin-bottom: 41px;
    }
    .version {
      // border: 1px solid red;
      padding-left: 2.38vw;
      font-family: "Work Sans", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 19px;
      height: 19px;
      color: #213f7d;
      width: fit-content;
    }
  }
}
