.wrapper {
  border: 1px solid red;
//   color: black;
  height: 1695px;
  width: 283px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  padding: 39px 0 14px 34px;
  .customer{
    margin-bottom: 41px;
  }
}

