.wrapper {
//   position: absolute;
//    width: 75px;
  height: 14px;
//   left: 30px;
//   top: 270px;
padding-left:2.48vw;

  font-family: "Work Sans", sans-serif;
//   font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #545f7d;
}
