@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/avenir');
/*@import url('https://fonts.googleapis.com/css2?family=Rubik+Storm&display=swap');
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto Slab", serif;
  color: white;
  border: 2px solid red;
  // height: 100vh;
  // background-color: black;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
li {
  list-style-type: none;
}
a:active {
  text-decoration: none;
}
